* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1F1F;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #00c58e;
    --green-color: #54FFA3;
    --dark-green: #34af6d;
    --black-color: #1F1F1F;
    --gray-color: #878787;
    --light-black: #383838;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    transform: translateY(5px);
}

a.nuxt-link-exact-active {
    color: var(--light-black);
}

input {
    margin: 0;
    border: 0;
    outline: 0;
}

ul li {
    list-style: none;
    text-decoration: none;
}